*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 10px;
    padding: 100px;
    color: #05101b;
    border: 1px solid yellow;
    background: #8616cc;
}
h1{
    font-size: 40px;
}
.title-p{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 50px;
}
.title-image{
    height: 400px;
    width: 400px;
    border: 5px solid white;
    border-radius: 100%;
    background: #cc16c6;
}
img{
    border: 3px solid yellow;
   border-radius: 50%;
   width: 300px; 
   height: 300px;
}

.about{
    margin-top: 40px;

}
ul{
    list-style: none;
    font-size: 24px;
    color: antiquewhite;
}

.quotes{
    margin-top: 20px;
    font-style: italic;
    font-family: "Merriweather Fallback", serif;
    color: azure;
    font-size: 22px;
}

@media screen and (max-width: 576px) {
    body{
        margin-top: 5px;
        padding: 50px;
        color: #05101b;
        border: 1px solid rgb(0, 162, 255);
        background: whitesmoke;
    }
    h1{
        font-size: 30px;
    }
    .title-p{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
        padding-left: 20px;
    }
    .title-image{
        height: 250px;
        width: 250px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 100%;
        background: #cc16c6;
    }

    img{
       border: 3px solid yellow;
       border-radius: 50%;
       width: 200px;
        height: 200px;

    }
    ul{
        list-style: none;
        font-size: 18px;
        color: rgb(104, 67, 20);
        line-height: 26px;
    }
    .quotes{
        margin-top: 20px;
        font-style: italic;
        font-family: "Merriweather Fallback", serif;
        color: rgba(0, 0, 255, 0.87);
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    .title-image{
        height: 250px;
        width: 250px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 100%;
        background: #cc16c6;
        margin-left: 50px;
        margin-top: 25px;
    }

    img{
       border: 3px solid yellow;
       border-radius: 50%;
       width: 200px;
        height: 200px;

    }
    h1{
        font-size: 35px;
    }
    ul{
        list-style: none;
        font-size: 23px;
        color: black;
        line-height: 27px;
    }
    .quotes{
        margin-top: 20px;
        font-style: italic;
        font-family: "Merriweather Fallback", serif;
        color: rgba(229, 255, 0, 0.87);
        font-size: 20px;
    }
}